# Use other ways to exclude files created
# by your local environment (e.g., IDE or OS)

# Go test artifacts
*.test
*.out

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env
